@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "utilities";
@import "variables";
@import "bootstrap/scss/utilities/api";
@import "bootstrap/scss/bootstrap";

.hero {
    p {
        @extend .lead;
    }
}

.services {
    .service {
        p {
            @extend .text-secondary;
        }
    }
}

.section {
    padding-top: 36px;
    padding-bottom: 36px;
}

.subtitle {
    display: flex;
    align-items: center;
    span {
        width: 50px;
        height: 2px;
        background-color: $primary;
    }
}

.about-tabs {
    .nav-link.bg-white.active {
        background-color: $primary !important;
        color: $white !important;
    }
}

.about {
    .icon {
        width: 200px;
        color: $gray-400;
        position: absolute;
        transform: translateY(-50%) translateX(-40%);
        z-index: 1 !important;
    }
    img {
        z-index: 999 !important;
    }
}

.pricing {
    .pricing-item {
        p {
            @extend .text-secondary;
            @extend .py-2;
        }
    }
}

.cta {
    p {
        @extend .mx-auto;
        @extend .text-white;
        @extend .col-lg-8;
        @extend .fs-5;
    }
}
